<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="redisCacheClient" type="StackExchange.Redis.Provider.Core.Configuration.RedisCachingSectionHandler, StackExchange.Redis.Provider.Core" />
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration"/>
  </configSections>
  <redisCacheClient allowAdmin="true" ssl="false" connectTimeout="5000" database="0" serializerType="protobuf">
    <serverEnumerationStrategy mode="single" targetRole="preferSlave" unreachableServerAction="ignore" />
    <hosts>
      <add host="127.0.0.1" cachePort="6379" />
    </hosts>
  </redisCacheClient>
  <unity configSource="..\\Configs\\Unity.config"/>
</configuration>